AWS_REGION=ap-south-1
S3_BUCKET=453914763342-cflds-dev-ap-south-1-ilds-txdata-20260901
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/453914763342/ilds_queue_1
WATCH_DIRECTORY=./data/incoming_csvs
GARAGE_ENDPOINT_URL=http://100.78.2.20:3900
GARAGE_S3_BUCKET=data
GARAGE_ACCESS_KEY_ID=YOUR_GARAGE_KEY
GARAGE_SECRET_ACCESS_KEY=YOUR_GARAGE_SECRET
